<h1>Create una cuenta!</h1>
<form method="post">


    <div class="form-group">
        <label>Correo:</label>
        <input type="email" name="email" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" name="password" class="form-control"/>
    </div>
    <button class="btn btn-primary">Crear cuenta de usuario</button>
</form> 